*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.loginbox{
    border:2px solid black;
    width:240px ;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 400px;
}

.signin{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 700;
}

.credentials{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.inputbox{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.Util{
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
}

button{
   background-color : #FFD814;
   border-radius: 12px;
}
.newuser{
    margin-top: 70px;
    margin-left: 430px;
}

.line{
    margin-top: 40px;
    border: 2px solid black;
}